.profiles{
  margin: 30px 0px;
  font-size: 20px;
  color: silver;
}

.abilan{
  display: flex;
  margin: 20px 0px 30px 0px;
}
.btn{
  display: block;
  text-align: center;
}

#inbox #f{
  margin: 15px 25px 0px 0px;

}


#inbox h4{
  margin: 15px 0px 0px 35px;

}


.side{
  display: flex;
}

.side span{
  font-size: 19px;
}

.online{
  display: flex;
  margin: 20px 0px;
}

.labels{
  margin: 10px 0px;
}

.labels button{
  margin: 10px 0px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}

.thin{
  display: block;
  text-align: center;
  justify-content: center;
  background-color: #9400D3;
}

.fnts{
  display: block;
}


.fnts .side{
  display: flex; 
  
}
.side span{
  margin: 5px 30px 0px 10px;

}


.in1{
  padding: 0px 50px;
}

.fashion span{
  display: flex;
  float: right;
  text-align: center;
  margin: 0px 10px;
}


.in2 span{
  margin: 5px 0px 0px 0px;
  padding: 6px 8px;
}

#inbox span{
  display: flex;
  float: right;
  
}
.thumbs{
  border-radius: 5px;
  background-color: #fff;
  margin: 0px 0px 10px 0px;
  padding: 20px 20px;
}


.thumb{
  border-radius: 5px;
  background-color: #fff;
  margin: 0px 0px 20px 0px;
  padding: 5px 20px 4px 10px;
}



.hed{
  display: flex;
  margin: 0px 0px 20px 0px;
}



.hed1{
  display: flex;
  margin: 0px 0px 50px 0px;
}



.hed span{
  padding: 5px 10px;
  border-radius: 35%;
}



.tail{
  display: flex;
}


.tail span{
  margin: 20px 10px 0px 0px;
}


.imag{
  margin: 0px 0px 50px 0px;
  
  
}
.imag img{
  margin: 0px 10px;
  border-radius: 10px;
  
}


.para p{
  margin: 0px 0px 0px 0px;
}
.para{
  margin: 50px 0px 30px 0px;
}
